@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


#hero {
    height: 695px;
    background-image: linear-gradient(0.00deg, rgb(16, 16, 16) -19.5%, rgba(16, 16, 16, 0) 100%), url(../assets/hero-bg.png);
    background-size: cover;
    align-items: center;
    background-position: center;
    display: flex;
    justify-content: center;
}

.nav-bar{
    position: absolute;
    color: aliceblue;
    font-size: 30px;
    font-family: Nanum Brush Script;
    margin-top: 20px;
    margin-left: 20px;
    
}

.single-nav{
    margin-right: 20px;
    cursor: pointer;
}

.single-nav:hover{
    opacity: 0.7;
}

#hero .hero-box {
    width: 1100px;
    text-align: center;
}

#hero .hero-box .subtitle {
    color: rgb(255, 255, 255);
    font-family: Nanum Brush Script;
    font-size: 25px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
}

#hero .hero-box .header1 {
    color: rgb(255, 255, 255);
    font-family: Nanum Brush Script;
    font-size: 55px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: center;
}

#hero .hero-box .pera1 {
    color: rgb(255, 255, 255);
    font-family: Nanum Brush Script;
    font-size: 24px;
    font-weight: 2;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 20px;
}

.btn {
    border-radius: 8px;
    font-family: Nanum Brush Script;
    background: rgb(82, 195, 3);
    padding: 10px;
    font-size: medium;
    color: aliceblue;
    border: none;
    width: 200px;
    font-size: 25px;
}

.btn:hover {
    background-color: rgb(108, 218, 29);
    cursor: pointer;
}


#about-us {
    display: flex;
    flex-direction: row;
}

section .img-box {
    width: 50%;
    height: 695px;
    background-image: url(../assets/foods.png);
    background-repeat: no-repeat;
    background-color: bisque;
    background-size: cover;
}

section .mother-sidenote {
    background-color: bisque;
    width: 50%;
    height: 695px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

section .side-note {
    text-align: center;
    font-family: Nanum Brush Script;
}

section .header2 {
    font-size: 40px;
    margin-bottom: 20px;
}

section .pera2 {
    font-size: 24px;
    opacity: 0.6;
    margin-bottom: 60px;
}

section .follow {
    font-size: 32px;
    opacity: 0.8;
    margin-top: 15px;
    margin-bottom: 15px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

li {
    list-style: none;
    display: inline;
}

section .icons .pic {
    width: 35px;
    margin: 20px;
}

section .icons .pic:hover {
    cursor: pointer;
    opacity: 0.7;
}

a {
    text-decoration: none;
    color: inherit;
}

#buy {
    height: 695px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color:antiquewhite;
}

section .content {
    width: 1350px;
    height: 550px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-text {
    font-family: Nanum Brush Script;
    text-align: center;
    margin-bottom: 8px;
}

section .header3 {
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}

section .pera3 {
    font-size: 20px;
    opacity: 0.7;
    margin-bottom: 0px;
    text-align: center;
}


section .header4 {
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
}

section .pera4 {
    font-size: 15px;
    opacity: 0.7;
    margin-bottom: 5px;
    text-align: center;
}

#cards {
    width: 1200px;
    align-items: center;
    display: flex;
    justify-content: space-between;

}

.single-card {
    align-items: center;
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.control-image {
    width: 380px;
    background-size: cover;
}

.btn-set {
    margin-top: 25px;
}

.single-card-text {
    text-align: center;
    margin-top: 15px;
}

.card-btn {
    width: 100px;
    height: 30px;
    border-radius: 8px;
    background: rgba(83, 195, 3, 0.522);
    border: none;
    font-size: 15px;
}

.card-btn:hover{
    background: rgb(82, 195, 3);
    cursor: pointer;
}