@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

#hero {
    height: 695px;
    background-image: linear-gradient(0.00deg, rgb(16, 16, 16) -19.5%, rgba(16, 16, 16, 0) 100%), url(../assets/hero-bg.png);
    background-size: cover;
    align-items: center;
    background-position: center;
    display: flex;
    justify-content: center;
}

#hero .hero-box {
    width: 1100px;
    text-align: center;
}

#hero .hero-box .subtitle {
    color: rgb(255, 255, 255);
    font-family: Nanum Brush Script;
    font-size: 25px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
}

#hero .hero-box .header1 {
    color: rgb(255, 255, 255);
    font-family: Nanum Brush Script;
    font-size: 55px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: center;
}

#hero .hero-box .pera1 {
    color: rgb(255, 255, 255);
    font-family: Nanum Brush Script;
    font-size: 24px;
    font-weight: 2;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 20px;
}

#hero .hero-box .btn {
    border-radius: 8px;
    font-family: Nanum Brush Script;
    background: rgb(82, 195, 3);
    padding: 10px;
    font-size: medium;
    color: aliceblue;
    border: none;
    width: 200px;
    font-size: 20px;
}

#hero .hero-box .btn:hover{
    background-color: rgb(108, 218, 29);
    cursor: pointer;
}


#about-us {
    display: flex;
    flex-direction: row;
}

section .img-box {
    width: 50%;
    height: 695px;
    background-image: url(../assets/foods.png);
    background-repeat: no-repeat;
    background-color:bisque;
    background-size: cover;
}

section .mother-sidenote {
    background-color: bisque;
    width: 50%;
    height: 695px;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;     
}

section .side-note {
    text-align: center;
    font-family: Nanum Brush Script;
}

section .header2{
    font-size: 40px;
    margin-bottom: 20px;
}

section .pera2{
    font-size: 24px;
    opacity: 0.6;
    margin-bottom: 60px;
}

section .follow{
    font-size: 32px;
    opacity: 0.8;
    margin-top: 15px;
    margin-bottom: 15px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

li{
    list-style: none;
    display: inline;
}

section .icons .pic{
    width: 35px;
    margin: 20px;
}

section .icons .pic:hover{
    cursor: pointer;
    opacity: 0.7;
}

a{
    text-decoration: none;
    color: inherit; 
}



